/Accessors.class
/Builder.class
/Delegate.class
/ExtensionMethod.class
/FieldDefaults.class
/Helper.class
/NonFinal.class
/PackagePrivate.class
/Tolerate.class
/UtilityClass.class
/Value.class
/Wither$AnyAnnotation.class
/Wither.class
/package-info.class
/var.class
