/AccessLevel.class
/AllArgsConstructor$AnyAnnotation.class
/AllArgsConstructor.class
/Builder$Default.class
/Builder$ObtainVia.class
/Builder.class
/Cleanup.class
/ConfigurationKeys.class
/Data.class
/Delegate.class
/EqualsAndHashCode$AnyAnnotation.class
/EqualsAndHashCode.class
/Generated.class
/Getter$AnyAnnotation.class
/Getter.class
/Lombok.class
/NoArgsConstructor$AnyAnnotation.class
/NoArgsConstructor.class
/NonNull.class
/RequiredArgsConstructor$AnyAnnotation.class
/RequiredArgsConstructor.class
/Setter$AnyAnnotation.class
/Setter.class
/Singular.class
/SneakyThrows.class
/Synchronized.class
/ToString.class
/Value.class
/package-info.class
/val.class
