/AltCallingConvention.class
/Callback$UncaughtExceptionHandler.class
/Callback.class
/CallbackParameterContext.class
/CallbackProxy.class
/CallbackReference$AttachOptions.class
/CallbackReference$DefaultCallbackProxy.class
/CallbackReference$NativeFunctionHandler.class
/CallbackReference.class
/CallbackResultContext.class
/CallbackThreadInitializer.class
/DefaultTypeMapper$Entry.class
/DefaultTypeMapper.class
/FromNativeContext.class
/FromNativeConverter.class
/Function$NativeMappedArray.class
/Function$PointerArray.class
/Function$PostCallRead.class
/Function.class
/FunctionMapper.class
/FunctionParameterContext.class
/FunctionResultContext.class
/IntegerType.class
/InvocationMapper.class
/LastErrorException.class
/Library$Handler$FunctionInfo.class
/Library$Handler.class
/Library.class
/Memory$SharedMemory.class
/Memory.class
/MethodParameterContext.class
/MethodResultContext.class
/Native$1.class
/Native$2.class
/Native$3.class
/Native$4.class
/Native$5.class
/Native$6.class
/Native$7.class
/Native$AWT.class
/Native$Buffers.class
/Native$ffi_callback.class
/Native.class
/NativeLibrary.class
/NativeLong.class
/NativeMapped.class
/NativeMappedConverter.class
/NativeString$StringMemory.class
/NativeString.class
/Platform.class
/Pointer$Opaque.class
/Pointer.class
/PointerType.class
/StringArray.class
/Structure$1.class
/Structure$2.class
/Structure$3.class
/Structure$AutoAllocated.class
/Structure$ByReference.class
/Structure$ByValue.class
/Structure$FFIType$FFITypes.class
/Structure$FFIType$size_t.class
/Structure$FFIType.class
/Structure$LayoutInfo.class
/Structure$StructField.class
/Structure$StructureSet.class
/Structure.class
/StructureReadContext.class
/StructureWriteContext.class
/ToNativeContext.class
/ToNativeConverter.class
/TypeConverter.class
/TypeMapper.class
/Union.class
/VarArgsChecker$NoVarArgsChecker.class
/VarArgsChecker$RealVarArgsChecker.class
/VarArgsChecker.class
/Version.class
/WString.class
/WeakIdentityHashMap$IdentityWeakReference.class
/WeakIdentityHashMap.class
