/TlbAbstractMethod.class
/TlbBase.class
/TlbCmdlineArgs.class
/TlbCoClass.class
/TlbConst.class
/TlbDispInterface.class
/TlbEnum.class
/TlbFunctionDispId.class
/TlbFunctionStub.class
/TlbFunctionVTable.class
/TlbInterface.class
/TlbParameterNotFoundException.class
/TlbPropertyGet.class
/TlbPropertyGetStub.class
/TlbPropertyPut.class
/TlbPropertyPutStub.class
