/ByReference.class
/ByteByReference.class
/DoubleByReference.class
/FloatByReference.class
/IntByReference.class
/LongByReference.class
/NativeLongByReference.class
/PointerByReference.class
/ShortByReference.class
